@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  background-color: #F8FAFC;
  font-family: 'Inter', sans-serif;
}

/* ТОТАЛЬНЫЙ СБРОС ДЛЯ ВСЕХ ИНПУТОВ */
input, 
textarea, 
select, 
button,
[data-slot="input"],
[data-slot="input-wrapper"],
[data-slot="inner-wrapper"] {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-image: none !important;
  -webkit-appearance: none !important;
}

/* Убираем синее/черное выделение при фокусе в Chrome и Safari */
*:focus, 
*:active,
[data-focused="true"],
[data-focus="true"] {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}