@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  background-color: #F8FAFC;
}

/* ВЫЖИГАЕМ ВСЕ ОБВОДКИ И ЛИНИИ */
*:focus, 
*:active, 
*:focus-within, 
input, 
input:focus, 
button:focus,
[data-focus="true"],
[data-focused="true"] {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  ring: 0 !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-width: 0px !important;
}

/* Убираем синие/черные рамки в Chrome и Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}